.button {
    width: 180px;
    height: 45px;
    margin: 0 80px 60px 143px;
  
    padding: 13px 16px;
  
    border-radius: 3px;
    background-color: #6ABE8A;
    color: #232736;
    font-family: "Montserrat", sans-serif;
}

.picturebutton {
    width: 220px;
    height: 600px;   
}